/* wp topbar hack */
#wpadminbar ul#wp-admin-bar-root-default > li {
  z-index: 1000;
  position: initial;
}
#wpadminbar .ab-top-menu > .menupop > .ab-sub-wrapper {
  z-index: 1001;
  background: rgba(45, 52, 57);
  min-width: auto;
  bottom: 100%;
}
html #wpadminbar {
  width: 449px;
  min-width: auto;
  height: auto;
  left: 20px;
  bottom: 20px;
  top: auto;
  border-radius: 12px;
  padding: 6px;
}
@media screen and (max-width: 600px) {
  html #wpadminbar {
    position: fixed;
    width: 90%;
    left: 5%;
    opacity: 0.8;
  }
}
