/* Header style */
header .main-header-bar {
  /* background: #151425; */
  /* border-bottom: none; */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 4;
  transition: all 500ms ease 0s;
  width: 100%;
  background: transparent;
  box-shadow: none;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.7),
    rgba(0, 0, 0, 0.342) 50.34%,
    transparent 94.15%
  );
}

header .main-header-bar.on-scroll {
  /* navbar-fixed */
  background: #054e8b;
  box-shadow: 0 4px 8px 2px rgba(0, 0, 0, 0.25);
  transition: transform 3s ease;
  -webkit-animation: myanimation 3s;
  animation: myanimation 3s;
}
@keyframes myanimation {
  0% {
    background-color: transparent;
    color: transparent;
  }

  35% {
    background-color: #054e8b;
  }

  to {
    background-color: #054e8b;
  }
}
/* End of header style */

/* Tab toggle */
.tab-toggle {
  opacity: 0.4;
  cursor: pointer;
}
.tab-toggle.tab-button {
  opacity: 1;
}
.tab-toggle.tab-button.active {
  background-color: #054e8b;
}
.tab-toggle.tab-button.active .elementor-heading-title {
  transition: all 0.2s ease;
  color: #fff;
}

.tab-toggle.active {
  opacity: 1;
}
/* End of Tab toggle */

/* Accodion */
.accordion-custom summary .e-n-accordion-item-title-icon svg {
  display: none !important;
}
.accordion-custom summary {
  border: 1px solid #dae0eb;
  box-sizing: border-box;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  padding: 10px 20px !important;
  background: #fff;
  color: #054e8b !important;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.accordion-custom .e-n-accordion-item-title-header {
  font-weight: 700;
  flex: 1;
  font-size: 18px !important;
}
.accordion-custom summary .e-n-accordion-item-title-icon {
  order: 1;
}
.accordion-custom summary .e-n-accordion-item-title-icon,
.accordion-custom summary .e-n-accordion-item-title-icon .e-closed,
.accordion-custom summary .e-n-accordion-item-title-icon .e-opened {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  min-width: 36px;
  height: 36px;
}
.accordion-custom summary .e-n-accordion-item-title-icon .e-closed {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%238493ae' width='36px' height='36px'%3E%3Cpath d='M7.41 8.59L12 13.17l4.59-4.58L18 10l-6 6-6-6 1.41-1.41z'%3E%3C/path%3E%3Cpath d='M0 0h24v24H0V0z' fill='none'%3E%3C/path%3E%3C/svg%3E");
  transform: rotate(180deg);
}
.accordion-custom summary .e-n-accordion-item-title-icon .e-opened {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%238493ae' width='36px' height='36px'%3E%3Cpath d='M7.41 8.59L12 13.17l4.59-4.58L18 10l-6 6-6-6 1.41-1.41z'%3E%3C/path%3E%3Cpath d='M0 0h24v24H0V0z' fill='none'%3E%3C/path%3E%3C/svg%3E");
}
.accordion-custom summary + div.elementor-element {
  padding: 10px 32px !important;
  background: #fafafa;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.25);
  font-weight: 400;
  font-size: 14px !important;
  color: #2a3752 !important;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  text-align: left;
}
/* End of accordion style*/

/* Element fly in animation */
[class*="animate-"].inView {
  opacity: 1;
  transform: translate(0);
}
[class*="animate-"] {
  transition: all 1s ease;
}

.animate-right {
  opacity: 0;
  transform: translateX(15%);
}

.animate-left {
  opacity: 0;
  transform: translateX(-15%);
}

.animate-up {
  opacity: 0;
  transform: translateY(15%);
}
/* End of element fly in animation */

.hidden {
  display: none !important;
}

.bg-overlay::before {
  content: "";
  display: block;
  position: absolute;

  width: 100%;
  height: 100%;
  background: linear-gradient(
    89.61deg,
    rgba(0, 0, 0, 0.5) 49.95%,
    transparent 99.62%
  );
}

/* wp topbar hack */
#wpadminbar ul#wp-admin-bar-root-default > li {
  z-index: 1000;
  position: initial;
}
#wpadminbar .ab-top-menu > .menupop > .ab-sub-wrapper {
  z-index: 1001;
  background: rgba(45, 52, 57);
  min-width: auto;
  bottom: 100%;
}
html #wpadminbar {
  width: 449px;
  min-width: auto;
  height: auto;
  left: 20px;
  bottom: 20px;
  top: auto;
  border-radius: 12px;
  padding: 6px;
}
@media screen and (max-width: 600px) {
  html #wpadminbar {
    position: fixed;
    width: 90%;
    left: 5%;
    opacity: 0.8;
  }
}
