body {
  background: lightgrey;
}

/* header style for animation */
header .main-header-bar {
  color: #fff;

  background: transparent;
  border-bottom: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 4;
  transition: all 500ms ease 0s;
  width: 100%;
}
header .main-header-bar {
  background: none;
}

header .main-header-bar.on-scroll {
  background: rgb(255, 255, 255);
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}

header .main-header-bar .ast-site-identity,
header .main-header-bar .custom-logo-link img {
  transition: all 500ms ease 0s;
}

header .main-header-bar.on-scroll .ast-site-identity {
  padding: 10px 0;
}

header .main-header-bar.on-scroll .custom-logo-link img {
  width: 200px;
}
/* End of header style for animation */

/* element fly in animation */
[class*="animate-"].inView {
  opacity: 1;
  transform: translate(0);
}

[class*="animate-"] {
  transition: all 1s ease;
}

.animate-right {
  opacity: 0;
  transform: translateX(15%);
}

.animate-left {
  opacity: 0;
  transform: translateX(-15%);
}

.animate-up {
  opacity: 0;
  transform: translateY(15%);
}
/* End of element fly in animation */

/* 4 boxes animation */
.group-container {
  position: relative;
  background: linear-gradient(
      -127deg,
      rgba(64, 8, 143, 0.1) 0%,
      rgba(53, 190, 173, 0.1) 100%
    ),
    #fff;
}

.group-container .box-list {
  position: absolute;
  top: 20%;
  right: 3%;
  left: 3%;
}

.box-item {
  border: 0 solid #fff;
  transition: all 0.2s ease;
}
.box-item .text-box {
  display: none;
}
.box-item.active,
.box-item:hover {
  background-color: #f8fcfc;
  border-radius: 27px;
  box-shadow: 8px 8px 35px rgba(59, 191, 173, 0.1019607843);
  border-width: 5px;
}
.box-item.active .text-box,
.box-item:hover .text-box {
  display: block;
}
/* End of 4 boxes animation */
