body {
  background: lightgrey;
}

/* header style for animation */
header .main-header-bar {
  color: #fff;

  background: transparent;
  border-bottom: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 4;
  transition: all 500ms ease 0s;
  width: 100%;
}
header .main-header-bar {
  background: none;
}

header .main-header-bar.on-scroll {
  background: rgb(255, 255, 255);
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}

header .main-header-bar .ast-site-identity,
header .main-header-bar .custom-logo-link img {
  transition: all 500ms ease 0s;
}

header .main-header-bar.on-scroll .ast-site-identity {
  padding: 10px 0;
}

header .main-header-bar.on-scroll .custom-logo-link img {
  width: 200px;
}
/* End of header style for animation */

/* element fly in animation */
[class*="animate-"].inView {
  opacity: 1;
  transform: translate(0);
}

[class*="animate-"] {
  transition: all 1s ease;
}

.animate-right {
  opacity: 0;
  transform: translateX(15%);
}

.animate-left {
  opacity: 0;
  transform: translateX(-15%);
}

.animate-up {
  opacity: 0;
  transform: translateY(15%);
}
/* End of element fly in animation */
