/* wp topbar hack */
#wpadminbar ul#wp-admin-bar-root-default > li {
  z-index: 1000;
  position: initial;
}
#wpadminbar .ab-top-menu > .menupop > .ab-sub-wrapper {
  z-index: 1001;
  background: rgba(45, 52, 57);
  min-width: auto;
  bottom: 100%;
}
html #wpadminbar {
  width: 449px;
  min-width: auto;
  height: auto;
  left: 20px;
  bottom: 20px;
  top: auto;
  border-radius: 12px;
  padding: 6px;
}
@media screen and (max-width: 600px) {
  html #wpadminbar {
    position: fixed;
    width: 90%;
    left: 5%;
    opacity: 0.8;
  }
}

/* End of wp topbar hack */
:root {
  --ast-global-color-1: #ccc8fe;
}
a {
  --ast-global-color-0: #370b74;
}

/* Header style for animation */
header .main-header-bar {
  background: #151425;
  border-bottom: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 4;
  transition: all 500ms ease 0s;
  width: 100%;
}

header .site-title a,
.site-title a:focus,
.site-title a:hover,
.site-title a:visited {
  color: white;
}

header .ast-builder-menu-1 .menu-item > .menu-link {
  color: white;
}

.ast-mobile-header-wrap .ast-primary-header-bar,
.ast-primary-header-bar .site-primary-header-wrap {
  min-height: auto;
  height: 64px;
}

header .main-header-menu .sub-menu {
  background: #151425;
  color: white;
  border: none;
}
.ast-desktop .ast-primary-header-bar .main-header-menu > .menu-item {
  line-height: 64px;
}
@media (max-width: 768px) {
  header .main-header-bar .custom-logo-link img {
    width: 160px;
  }
  header .main-header-bar.on-scroll .custom-logo-link img {
    width: 160px;
  }
  .ast-mobile-header-wrap .ast-primary-header-bar,
  .ast-primary-header-bar .site-primary-header-wrap {
    min-height: 60px;
  }
}
@media (max-width: 921px) {
  .ast-builder-menu-mobile .main-navigation .main-header-menu,
  .ast-builder-menu-mobile .main-navigation .main-header-menu .sub-menu {
    padding-top: 30px;
  }
}
/* End of header style for animation */

/*Button gradient*/
.button-primary a {
  font-size: 15px !important;
  color: #31006f !important;
  padding: 8px 33px 8px 33px !important;
  border-radius: 10px;
  background: transparent !important;
  border: 1px solid #31006f !important;
}
.button-primary a:hover {
  background: transparent linear-gradient(90deg, #655dc6 0%, #66c9ba 100%) 0% 0%
    no-repeat padding-box !important;
  border-color: transparent !important;
  color: white !important;
}

/* hero slider */
.elementor-8 .elementor-element.elementor-element-0347495 .swiper-slide {
  height: auto;
}
.elementor-slides .swiper-slide-bg {
  aspect-ratio: 1921/980;
  min-height: auto;
}
/* End of hero slider */

/* Different Types Of Stained Tissues position */
@media screen and (min-width: 768px) {
  .elementor-573 .elementor-element.elementor-element-36d8b9d > :nth-child(2) {
    position: relative;
    top: -60px;
    right: -20px;
  }
  .elementor-573 .elementor-element.elementor-element-36d8b9d > :nth-child(4) {
    position: relative;
    top: -60px;
    right: 20px;
  }
  .elementor-573
    .elementor-element.elementor-element-36d8b9d
    > :nth-child(2)
    > :nth-child(2) {
    position: relative;
    left: -60px;
  }
  .elementor-573
    .elementor-element.elementor-element-36d8b9d
    > :nth-child(4)
    > :nth-child(2) {
    position: relative;
    right: -100px;
  }
}
/* End of Different Types Of Stained Tissues position */

/*Custom CSS*/
.homepage-section2-subbox {
  flex: 0 1 336px;
}

.homepage-section4-quadgrid > div {
  flex: 0 1 100%;
}

@media (min-width: 768px) {
  .homepage-section4-quadgrid > div {
    flex: 0 1 calc(50% - 10px);
  }
}

.homepage-section5-triplebox > div {
  aspect-ratio: 1 / 0.69;
  flex: 0 1 350px;
  background-origin: padding-box;
  background-position-x: 50%;
  background-position-y: 100%;
  background-repeat: repeat;
  background-size: cover;
}

.homepage-section6 {
  background-position: center;
  background-size: cover;
}

.homepage-section6-triplebox > div {
  flex: 0 1 300px;
}
/*End of Custom CSS*/

.pinContainer {
  width: 100%;
  height: 90vh;
  overflow: hidden;
}
/* .elementor-element.elementor-element-9acc6c2 > div {
  position: absolute;
  top: 47%;
  right: 25%;
  transform: translate(50%, -50%);
  width: 35%;
  padding: 15px 15px;
  background: #ffffffce !important;
} */
.panel1,
.panel2,
.panel3 {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.panel1 {
  opacity: 1;
  z-index: 1;
}
.panel2,
.panel3 {
  opacity: 0;
}
/* .sld-wrpr1,
.sld-wrpr2,
.sld-wrpr3 {
  position: relative;
  height: 100%;
  background: url(https://spatial.lifestrandsgx.com/wp-content/uploads/sites/2/2024/07/sm-crd-3.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
} */
.box1 {
  position: absolute;
  top: 47%;
  right: 25%;
  transform: translate(50%, -50%);
  width: 35%;
  padding: 15px 15px;
  background: #ffffffce !important;
}
.box2 {
  position: absolute;
  top: 40%;
  right: 27%;
  transform: translate(50%, -50%);
  width: 35%;
  padding: 15px 15px;
  background: #ffffffce !important;
}
.box3 {
  position: absolute;
  top: 71%;
  left: 47%;
  transform: translate(-50%, -50%);
  width: 35%;
  padding: 15px 15px;
  background: #ffffffce !important;
}
